:root {
	--button-bg: #323232;
	--button-bg-highlight: #585858;
}

.container {
	padding: 20px 15px;
	text-align: center;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

.iconTopSpace {
	padding-top: 2px;
}

.headerContainer {
	display: flex;
	height: 50px;
	margin-bottom: 30px;
	padding-left: 12px;
	padding-right: 12px;

	@media screen and (max-height: 630px) {
		display: none;
	}
}

.headerSubContainer {
	margin: auto;
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.header {
	font-size: 21px;
	margin: 0;
	color: #c7c7c7;
	word-break: break-all;
}

.col6 {
	display: inline-block;
	width: 50%;
}

.col4 {
	display: inline-block;
	width: calc(100% / 3);
}

.button {
	height: 48px;
	width: 150px;

	border: 0;
	border-radius: 999px;
	padding-left: 0;
	padding-right: 0;

	background-color: var(--button-bg);
	color: #c7c7c7;

	font-size: 16px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	transition: 0.3s;

}

.button:focus {
	background-color: var(--button-bg-highlight);
}

.button:active {
	background-color: var(--button-bg-highlight);
}

.close {
	padding-bottom: 42px;

	@media screen and (max-height: 655px) {
		padding-bottom: 32px;
	}
}

.closeReloadIcon {
	color: #fff;
}

.closeReloadButton {
	width: 100px;
}

.closeButton {
	background-color: #ef4b56;
}

.reloadButton {
	background-color: #27bb65;
}

.midContainer {
	display: flex;
	padding-top: 24px;
	padding-bottom: 32px;

	@media screen and (max-height: 655px) {
		padding-bottom: 28px;
	}
}

.playButtonContainer {
	display: inline-block;
	width: 50%;
	padding-top: 18px;
}

.playButton {
	height: 150px;
	border-radius: 100%;
}

.playIcon {
	font-size: 125px !important;
}

.audioSubsContainer {
	display: inline-block;
	width: 25%;
}

.audioSubsButton {
	width: 48px;
	padding-top: 3px;
	border-radius: 100%;
}

.fwdRwdContainer {
	padding-bottom: 32px;

	@media screen and (max-height: 655px) {
		padding-bottom: 28px;
	}
}

.volumeBtnContainer {
	padding-bottom: 24px;

	@media screen and (max-height: 655px) {
		padding-bottom: 18px;
	}
}

.volumeButton {
	height: 38px;
	width: 100px;
	padding-top: 4px;
}

.volumeMuteButtonMuted {
	background-color: #ef4b56;
}

.volumeMuteIconMuted {
	color: #fff;
}

.volumeSliderContainer {
	padding: 0 12px 18px;

	@media screen and (max-height: 655px) {
		padding-bottom: 12px;
	}
}

.volumeSlider {
	width: 100%;

	-webkit-appearance: none;
	appearance: none;
	height: 5px;
	border-radius: 10px;
	background: #2b2b2e;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.volumeSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}
