@import "~material-design-icons/iconfont/material-icons.css";

html {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	background-color: #121212;
	color: #e4e4e4;
}

i {
	color: #9f9f9f;
}
